@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    src: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
}